*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
#carouselExampleInterval{
    display: flex;
    height: 100%;
    align-items: center;
}
.carousel-control-next, .carousel-control-prev{
    height: 10vh;
    top: auto;
    bottom: auto;
}
.carousel img{
    height: 100%;
    width: 100%;
    object-fit:contain;
}
.col-4{
    display: flex;
    justify-content: center;
    align-items: center;
}